@using HtmlHelpers.BeginCollectionItem;
@model DinamicRow.Models.Gift
<div class="editorRow">
    @using (Html.BeginCollectionItem("gifts"))
    {
        <span>Item:</span>
        @Html.TextBoxFor(x => x.Name);
        <span>Value:</span>
        @Html.TextBoxFor(x => x.Price, new {size = 4});
        <a href="#" id="deleteRow" class="deleteRow" onclick="remove(this);">delete</a>
    }
   
</div>


